################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/KernelFiltering/.vs/KernelFiltering/v15
/KernelFiltering_Test/.vs/KernelFiltering_Test/v15
/KernelFiltering/Debug
/KernelFiltering/KernelFiltering/Debug
/KernelFiltering_Test/Debug
/KernelFiltering_Test/KernelFiltering_Test/Debug
/test_data/_subp_147_5-157_5.png
/test_data/_test_png.png
